---
magicItem: {{ magicItem }}
source: {{ source }}
magicItemType: {{ magicItemType }}
magicItemrarity: {{ magicItemRarity }}
---

#### {{ magicItem }}
*{{ magicItemType }}, {{ magicItemRarity }}*
{{ magicItemDescription }}
